@page "/GetInTouch"
<div class="text-center my-5 ">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa fa-phone bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, ea?
        </p>
        <i class="fa-solid fa-address-book bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus autem blanditiis iste laboriosam aspernatur eveniet?
        </p>

        <i class="fa-solid fa-envelope bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            random@mail.com.tr
        </p>
    </div>
</div>
